.box-login {
    background-color: rgb(117 113 113 / 19%);
    border: solid 2px #878282;
    font-weight: bold;
}

.box-login p {
    color: #0f9ec2;
}

.box-login p:hover {
    color: #cc8eff;
}

.box-login h3 {
    color: #cc8eff;
    font-weight: bold;

}

.height-100vh {
    height: 90vh
}


