
<div class="box-1 text-center">
    <p>This my memory for us.</p>
</div>

<div class="text-center last-text">
<p>"เธอมีรอยยิ้มที่ยิ้มกว้างกว่า</p>
<p>มีดวงตาที่ใครก็ตาม</p>
<p>ต่างมองแล้วรู้ว่าแสนงดงาม</p>
<p>อ่อนหวานกว่าใครทั้งนั้น</p>
<p>และในนาทีนั้น ที่ตัวฉัน</p>

<p>รู้ว่าได้เจอ คนหนึ่งคน</p>
<p>ที่ครองใจดวงนี้</p>
<p>และคงไม่เจอ ใครอีกคน</p>
<p>ที่เหมือนเธออีก</p>
<p>รู้แล้วว่าเธอ คือหนึ่งคน</p>
<p>ที่ปลอบโยนหัวใจ</p>
<p>รู้แล้วว่าเธอ คือบทเพลงที่ฟังเมื่อไหร่</p>
<p>มันจะคอยโอบกอดฉันไว้ด้วยกายและใจ "</p>
</div>


<div class="container row my-2">

  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_9.jpg" class="img-thumbnail picture-main" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_10.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_16.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_12.jpg" class="img-thumbnail" alt="...">
  </div>

</div>

<div class="container row my-2">

  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_14.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_2.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_15.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_11.jpg" class="img-thumbnail" alt="...">
  </div>

</div>

<div class="container row my-2">

  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_17.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_18.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_19.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_20.jpg" class="img-thumbnail" alt="...">
  </div>

</div>

<div class="container row my-2">

  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_21.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_22.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_23.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_24.jpg" class="img-thumbnail" alt="...">
  </div>

</div>

<div class="container row my-2">

  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_25.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_26.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_27.jpg" class="img-thumbnail" alt="...">
  </div>
  <div class="col-3" style="width: 18rem;">
    <img src="./assets/images/picture_28.jpg" class="img-thumbnail" alt="...">
  </div>

</div>

<div class="last-text text-center mt-5">
<p> มีสิ่งที่เค้าอยากบอกอ้วนนะ....</p>
<p> เค้ารู้สึกขอบคุณมาก ๆ นะที่ได้เจอเธอ ตลอดระยะเวลาที่ผ่านมาเค้าได้เติบโตมากขึ้นไปในทิศทางที่ดีขึ้นเพราะมีเธออยู่ข้าง ๆ คอยสนับสนุนเค้าเสมอไม่ว่าเค้าจะทำอะไรเค้ารู้สึกขอบคุณมากที่มีเธออยู่ข้าง ๆ 
  เค้าขอโทษนะคะที่เค้าอาจจะทำให้เสียใจบ่อย ๆ เค้าชอบทำมันพังเสมอในวันที่อ้วนมีความสุข เค้าอาจจะเป็นแฟนที่แย่ดูแลอ้วนไม่ครบถ้วน แต่เค้าจะพยายามเป็นเค้าในเวอชั่นที่ดียิ่งขึ้นนะคะ
  อะไรที่ผิดพลาดเค้าจะปรับปรุงนะคะ  
  เธอเป็นคนเก่ง เวลาตั้งใจจะทำอะไรเธอทำได้อยู่ล่ะ อย่ากดดันตัวเองมากเกินไปนะคะ เค้ายืนอยู่ข้าง ๆ เธอเสมอนะคะ หันมาก็เจอเค้าตลอดเค้าไม่ไปไหนหรอก
  เค้าชอบเวลาที่เธอหัวเราะ และยิ้มมากเค้าอยากรักษารอยยิ้มไว้บนหน้าเธอนาน ๆ เค้าจะทำให้อ้วนมีความสุขนะคะ เค้าอยากอยู่กับเธอต่อไปเรื่อย ๆ นะคะ เค้าไม่เคยคิดถึงวันที่เราจบกันเลยเพราะ
  เค้าอยากให้มีเธออยู่ในอนาคตเรื่อย ๆ ผ่านวันที่แย่ และมีความสุขไปด้วยกันนะ เราจะเติบโตไปด้วยกันนะคะ เค้ารักเธอมากนะคะ จุ้บ 
</p>
<P>จาก ต็อก ถึง นายน์ :)</P> 

</div>